# Data files that are necessary, but should not be part of commits
*.npy
*.cle
cassandralin/emus/guide.txt

# Random back-up silliness that I don't want
*-checkpoint.ipynb
*checkpoints

# Code should be compiled separately for separate systems
*.pyc

#  Text editor trash
*.kate-swp
*.swo
*~
*.swp
